<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="row">
        <div class="col-xs-12" style="margin-bottom: 10px;">
          <div class="text-right">
            <%= link_to 'New Jurnal', new_jurnal_path %>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="panel">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Kode</th>
                    <th>Nama</th>
                    <th>Deskripsi</th>
                    <th>Debit/Kredit</th>
                    <th>Saldo</th>
                    <th colspan="3"></th>
                  </tr>
                </thead>

                <tbody>
                  <% @jurnals.each do |jurnal| %>
                    <tr>
                      <td><%= jurnal.akun.kode %></td>
                      <td><%= jurnal.akun.nama %></td>
                      <td><%= jurnal.deskripsi %></td>
                      <td><%= jurnal.akun.tipe_akun.nama %></td>
                      <td><%= jurnal.saldo %></td>
                      <td><%= link_to 'Show', jurnal, class:'small-link-reverse' %></td>
                      <td><%= link_to 'Edit', edit_jurnal_path(jurnal), class:'small-link-reverse' %></td>
                      <td><%= link_to 'Destroy', jurnal, method: :delete, data: { confirm: 'Are you sure?' }, class:'small-link-reverse' %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <%= will_paginate @jurnals %>
        </div>
      </div>
    </div>
  </div>
</div>
