<div class="page-header">
  <%= link_to new_akun_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Akun
  <% end %>
  <h1>Listing akuns</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Kode</th>
            <th>Nama</th>
            <th>Tipe akun</th>
            <th>User</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @akuns) do |akun| %>
            <td><%= akun.kode %></td>
            <td><%= akun.nama %></td>
            <td><%= akun.tipe_akun %></td>
            <td><%= akun.user %></td>
            <td><%= link_to 'Show', akun %></td>
        <td><%= link_to 'Edit', edit_akun_path(akun) %></td>
        <td><%= link_to 'Destroy', akun, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
