<div class="page-header">
  <%= link_to new_female_transaksi_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Female transaksi
  <% end %>
  <h1>Listing female_transaksis</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Akun</th>
            <th>Deskripsi</th>
            <th>Nominal</th>
            <th>Tipe relasi</th>
            <th>Jurnal</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @female_transaksis) do |female_transaksi| %>
            <td><%= female_transaksi.akun %></td>
            <td><%= female_transaksi.deskripsi %></td>
            <td><%= female_transaksi.nominal %></td>
            <td><%= female_transaksi.tipe_relasi %></td>
            <td><%= female_transaksi.jurnal %></td>
            <td><%= link_to 'Show', female_transaksi %></td>
        <td><%= link_to 'Edit', edit_female_transaksi_path(female_transaksi) %></td>
        <td><%= link_to 'Destroy', female_transaksi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
